@use './styles/variables' as *;
@use './styles/mixins' as *;

.app {
  min-height: 100dvh;

  &__footer {
    background: $primary;
    color: $text-light;
    text-align: center;
    padding-inline-start: $spacing-sm;
    padding-inline-end: $spacing-sm;
    padding-top: $spacing-sm;
    padding-bottom: $spacing-lg;
    font-size: $font-size-base;
    font-weight: 300;
    letter-spacing: 0.05em;
  }

  &__footer-logo {
    width: 70px;
    margin-right: 0.5rem;
  
 
  }

  .greeting {
    font-size: $font-size-base;
  }

  .developed-by {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem; 

    &__link {
      display: flex;
      justify-content: center;
    }
  }
}
