@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.map {
  @include section-padding;
  background: $text-light;
  position: relative;

  &__container {
    max-width: 800px;
    margin: 0 auto;
  }

  &__title {
    font-size: $font-size-3xl;
    font-weight: 300;
    color: $primary;
    text-align: center;
    margin-bottom: $spacing-xl;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -$spacing-sm;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 2px;
      background: $primary;
    }

    @include mobile {
      font-size: $font-size-2xl;
    }
  }

  &__content {
    background: $background;
    border-radius: $border-radius-lg;
    overflow: hidden;
    box-shadow: $box-shadow;
  }

  &__info {
    padding: $spacing-lg;
    text-align: center;
  }

  &__venue-name {
    font-size: $font-size-xl;
    font-weight: 600;
    color: $primary;
    margin-bottom: $spacing-xs;
  }

  &__address {
    font-size: $font-size-base;
    color: rgba($text-dark, 0.8);
    margin-bottom: $spacing-md;
  }

  &__navigate-btn {
    @include button-base;
    display: inline-block;
    background: $primary;
    color: $text-light;
    text-decoration: none;

    &:hover {
      background: $primary-dark;
      text-decoration: none;
    }
  }

  &__embed {
    iframe {
      display: block;
      width: 100%;
      height: 300px;

      @include tablet {
        height: 250px;
      }
    }
  }
}
