@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.map {
  @include section-padding;
  background: $text-light;
  position: relative;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  overflow-x: clip;
  overflow-y: visible;
  max-width: 700px;
  display: flex;
  justify-self: center;

    // ── Decorative flowers ──
    &__decoration {
      position: absolute;
      pointer-events: none;
      z-index: 2;
  
      &--top-left {
        top: 0;
        left: 0;
        width: 230px;
        height: auto;
        transform: translate(-25%, -25%);
  
        @include tablet {
          width: 100px;
        }
  
        @include mobile {
          width: 140px;
          transform: translate(-35%, -19%);
        }
      }
  
      &--bottom-right {
        bottom: 0;
        right: 0;
        width: 180px;
        height: auto;
        transform: translate(20%, 25%);
  
        @include tablet {
          width: 140px;
        }
  
        @include mobile {
          width: 180px;
          transform: translate(0%, 0%);
        }
      }
    }


  &__container {
    max-width: 700px;
    margin: 0 auto;

    @include tablet {
      max-width: 600px;
    }

    @include mobile {
      max-width: 100%;
    }
  }

  &__title {
    font-size: $font-size-3xl;
    font-weight: 300;
    color: $primary;
    text-align: center;
    margin-bottom: $spacing-sm;
    position: relative;
    font-family: danidin;


    @include mobile {
      font-size: $font-size-4xl;
    }
  }

  &__content {
    overflow: hidden;
 
  }

  &__info {
    // padding: $spacing-lg;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__venue-name {
    font-size: $font-size-base;
    font-weight: bold;
    color: $primary;
  }

  &__address {
    font-size: $font-size-lg;
    font-weight: bold;
    color: $secondary;
  }

  &__navigate-btn {
    @include button-base;
    display: inline-block;
    background: $primary;
    color: $text-light;
    text-decoration: none;

    &:hover {
      background: $primary-dark;
      text-decoration: none;
    }
  }

  &__embed {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    margin-top:2rem;
    iframe {
      display: block;
      width: 90%;
      height: 300px;
      border-radius: 8px;
      @include tablet {
        height: 250px;
      }
    }
  }
}
