@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.map {
  @include section-padding;
  background: $text-light;
  position: relative;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;


  &__container {
    max-width: 800px;
    margin: 0 auto;
  }

  &__title {
    font-size: $font-size-3xl;
    font-weight: 300;
    color: $primary;
    text-align: center;
    margin-bottom: $spacing-sm;
    position: relative;
    font-family: danidin;


    @include mobile {
      font-size: $font-size-4xl;
    }
  }

  &__content {
    overflow: hidden;
 
  }

  &__info {
    // padding: $spacing-lg;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__venue-name {
    font-size: $font-size-lg;
    font-weight: bold;
    color: $primary;
  }

  &__address {
    font-size: $font-size-lg;
    font-weight: bold;
    color: $secondary;
  }

  &__navigate-btn {
    @include button-base;
    display: inline-block;
    background: $primary;
    color: $text-light;
    text-decoration: none;

    &:hover {
      background: $primary-dark;
      text-decoration: none;
    }
  }

  &__embed {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    margin-top:2rem;
    iframe {
      display: block;
      width: 90%;
      height: 300px;
      border-radius: 8px;
      @include tablet {
        height: 250px;
      }
    }
  }
}
